@charset "utf-8";
/* CSS Document */

ul {
	list-style: none;
}
il {
	list-style: none;
}
/* texto */
h5 {
	font-weight: bold;
	font-size: medium;
}
h4 {
	font-size: 15px
}
h3 {
	color: #820403;
}
h2 {
}
h1 {
}
p {
}
/*Bullets*/
.bulletText {
	color: #069;
	font-weight: 800;
	font-size: 18px;
	padding:0 !important;
}
.nobullets {
	list-style: none
}
/*index*/
#serviciosPrincipales {
	text-align: center;
	font-size: 11px;
}
/*------------------------------------*\
    Css Carrucel
\*------------------------------------*/
.ei-title h2, .ei-title h3 {
	text-align: right;
}
.ei-title h2 {
	font-size: 40px;
	line-height: 50px;
	font-family: 'Playfair Display', serif;
	font-style: italic;
	color: #5C5C5C;
}
.ei-title h3 {
	font-size: 70px;
	line-height: 70px;
	font-family: 'Open Sans Condensed', sans-serif;
	text-transform: uppercase;
	color: #000;
}

.textInfo h3{ text-transform: uppercase;}

.Titulosec{
text-shadow: 1px 1px 1px rgba(255,255,255,0.3);}

