@charset "utf-8";
/* CSS Document */

.notaform {
	clear: both;
	position: relative
}
input[type=text], input[type=email], input[type=number], textarea, select, password {
	border: 1px solid #ccc;
	display: block;
	outline: none;
	transition: all 0.15s ease-in-out;
	padding:6px;
	margin-bottom:5px;
	margin-top:5px;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:14px;
}

input[type=text], input[type=email], input[type=number], textarea, password {
	width:260px;
}

input[type=text]:focus, input[type=email]:focus, input[type=number]:focus, textarea:focus, password {
	border: 1px solid rgba(131,28,30,1.00);
}

em.helper {
	z-index: 1001;
	position: absolute;
	top: 0;
	left: auto;
	font-size: 0.90em;
	padding: 5px;
	border-radius: 4px 4px 0;
	color: #FFF;
	font-weight:600;
	background: rgba(0,0,0,0.80);
	line-height: 100%;
	text-align: center;
	margin: 0 0 0 15px
}
em.helper:after {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 5px 5px 5px 0;
	border-color: transparent rgba(0,0,0,0.80);
	display: block;
	width: 0;
	z-index: 1;
	margin-top: -5px;
	left: -5px;
	top: 50%;
}

#validate {
	display: none;
	margin:0 auto
}

 .red {
	color: red;
	font-weight:400;
	font-size:13px;
}


